<h1>Page Contact</h1>
<p>Nous somme joignables à ces liens :</p>

<ul> 
  <li><a href="https://twitter.com/sasso_k">SASSO Kévin</a></li>
  <li><a href="https://www.facebook.com/anthony.payan.90">PAYAN Anthony</a></li>
  <li><a href="https://www.linkedin.com/in/louis-grandjean-97ab18203">GRANDJEAN Louis</a></li>
  <li><a href="https://www.facebook.com/maxime.erigeote/">RIGOT Maxime</a></li>
</ul>

<p>Voilà, bisou !</p>