<h1>Page Home</h1>
<p>Bienvenue sur notre page !! <br>T'as vu comment nos potins ont la classe ?</p>
<% Gossip.all.each_with_index do |gossip,index| %> 
  <p>
  Potin n° <%= Gossip.find(index + 1).id %><br/>
  Son auteur :  <%= Gossip.find(index + 1).user.name %><br/>
  Son titre :  <%= Gossip.find(index + 1).title %><br/>
  </p>
<% end %> 

<p>Voilà, bisou !</p>