<h1>Page Home</h1>
<p>Bienvenue sur notre page !! <br>T'as vu comment nos potins ont la classe ?</p>

<% Gossip.all.each_with_index do |gossip,index| %> 

  <div class="card w-50">
  <div class="card-body">
    <h5 class="card-title">Potin n° <%= Gossip.find(index + 1).id %><br/></h5>
    <p class="card-text">Son auteur :  <%= Gossip.find(index + 1).user.name %><br/></p>
    <p class="card-text">Son titre :  <%= Gossip.find(index + 1).title %><br/><br/></p>
    <a href="/gossips/<%= Gossip.find(index + 1).id %>" class="btn btn-primary">Viens voir ce Gossip de plus près !</a>
   
  </div>
</div>
<% end %> 

<p>Voilà, <a href="/home/">bisou</a> !</p>