// Place all the styles related to the gossips controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#form {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
}

.label {
  font-size: large;
  margin-bottom: 2px;
}


